services:
  backend:
    build: ./backend
    ports:
      - "5001:5001"
    volumes:
      - ./backend/songs:/app/songs
      - ./backend/cues:/app/cues
      - ./backend/metadata:/app/metadata
    environment:
      - DMX_NODE_IP=192.168.10.221
      - FPS=60
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    ports:
      - "5000:80"
    depends_on:
      - backend
    restart: unless-stopped
