services:
  backend:
    build: ./backend
    ports:
      - "5001:5001"
    volumes:
      - ./backend/songs:/app/songs
      - ./backend/cues:/app/cues
      - ./backend/metadata:/app/metadata
    environment:
      - DMX_NODE_IP=192.168.10.221
      - FPS=60
    restart: unless-stopped

  redis:
    image: redis:7
    restart: unless-stopped

  worker:
    build: ./backend
    command: sh -c "PYTHONPATH=/app celery -A tasks.celery_app.celery_app worker --loglevel=info --concurrency=1"
    depends_on:
      - redis
    volumes:
      - ./backend/songs:/app/songs
      - ./backend/metadata:/app/metadata
      - ./analyzer:/app/analyzer
      - ./analyzer/temp_files:/app/temp_files
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      - PYTHONPATH=/app
      - CELERY_IMPORTS=tasks.analyze
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    ports:
      - "5000:80"
    depends_on:
      - backend
    restart: unless-stopped

  # analyzer:
  #   build:
  #     context: ./analyzer
  #     args:
  #       BUILD_UID: ${UID:-1000}
  #       BUILD_GID: ${GID:-1000}
  #   restart: unless-stopped
  #   volumes:
  #     - ./backend/songs:/app/songs
  #     - ./backend/metadata:/app/metadata
  #     - ./analyzer/temp_files:/app/temp_files
  #     - analyzer_model_cache:/home/appuser/.cache
  #   environment:
  #     - PYTHONPATH=/app
  #   runtime: nvidia

volumes:
  analyzer_model_cache: