services:
  analyzer:
    build: ./analyzer
    volumes:
      - ./analyzer:/app/analyzer
      - ./backend/songs:/app/songs
      - ./analyzer/meta:/app/meta
    gpus: all
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    restart: unless-stopped

  backend:
    build: ./backend
    ports:
      - "5001:5001"
    volumes:
      - ./backend/songs:/app/songs
      - ./backend/fixtures:/app/fixtures
      - ./backend/cues:/app/cues
      - ./backend/metadata:/app/metadata
    environment:
      - DMX_NODE_IP=192.168.10.221
      - FPS=60
      - ARTNET_DEBUG=${ARTNET_DEBUG:-0}
      - ARTNET_DEBUG_FILE=${ARTNET_DEBUG_FILE:-}
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    ports:
      - "5000:80"
    depends_on:
      - backend
    restart: unless-stopped
