services:
  backend:
    build: ./backend
    ports:
      - "5001:5001"
    volumes:
      - ./backend/songs:/app/songs
      - ./backend/cues:/app/cues
      - ./backend/metadata:/app/metadata
    environment:
      - DMX_NODE_IP=192.168.10.221
      - FPS=60
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    ports:
      - "5000:80"
    depends_on:
      - backend
    restart: unless-stopped

  # analyzer:
  #   build:
  #     context: ./analyzer
  #     args:
  #       BUILD_UID: ${UID:-1000}
  #       BUILD_GID: ${GID:-1000}
  #   restart: unless-stopped
  #   volumes:
  #     - ./backend/songs:/app/songs
  #     - ./backend/metadata:/app/metadata
  #     - ./analyzer/temp_files:/app/temp_files
  #     - analyzer_model_cache:/home/appuser/.cache
  #   environment:
  #     - PYTHONPATH=/app
  #   runtime: nvidia

volumes:
  analyzer_model_cache: