.sidebar {
  background: var(--side-menu);
  padding: 0;
}

.sidebar-title {
  font-weight: 700;
  margin-bottom: 12px;
}

.sidebar-nav {
  display: grid;
  gap: 2px;
  align-content: start;
  justify-items: center;
  padding: 1px 0;
}

.nav-icon {
  width: 24px;
  height: 24px;
}

.nav-icon .svg-accent {
  stroke: var(--accent);
}
