.song-player-v2 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 0.5em;
}

.song-player-row-1 {
  width: 100%;
  min-width: 0;
}

.song-player-row-2 {
  display: flex;
  gap: 16px;
  align-items: center;
  border-top: 1px dashed var(--border-strong);
  padding-top: 12px;
}

.song-player-waveform {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  overflow: hidden;
  min-width: 0;
}

.song-player-col-options {
  flex: 1;
}

.song-player-col-zoom {
  border-left: 1px dashed var(--border-strong);
  padding-left: 24px;
}

.song-player-title {
  font-size: 13px;
}

.song-player-wave {
  background: var(--card-2);
}

.song-player-barbeat {
  font-size: 42px;
  font-weight: 600;
  line-height: 1;
  min-width: 80px;
}

.song-player-transport {
  display: flex;
  gap: 8px;
  align-items: center;
}

.song-player-transport button {
  border-radius: .5em;
  background-color: var(--btn-state-bg-soft);
}

.song-player-transport .play-pause-btn{
  background-color: var(--accent);
}

.song-player-transport  button.play-pause-btn:hover:not(:disabled) {
  background-color: color-mix(in oklab, var(--accent) 70%, var(--text))
}


.transport-icon {
  width: 20px;
  height: 20px;
}

.song-player-options {
  display: flex;
  gap: 16px;
  align-items: center;
}

.song-player-inline-toggle {
  display: inline-flex;
  gap: 6px;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
}

.song-player-inline-toggle input[type="checkbox"] {
  margin: 0;
}

.song-player-zoom {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  font-size: 12px;
}

.song-player-zoom input[type="range"] {
  width: 120px;
}

.song-player-col-position {
  text-align: right;
}

.song-player-position {
  font-size: 14px;
}
